Repository yungyuc/nsdhw_22au, pull requests merged in 2022-11, with the labels that each got.

#240 Wst24365888 proposal submission
  project/README.rst
  project/wst24365888/README.md
  project/wst24365888/assets/system-architecture.png
Labels: project

#205 Hooje project proposal - version 2
  project/Hooje/README.md
  project/README.rst
Labels: project

#244 chiehchiYang-proposal-submission
  project/README.rst
  project/chiehchiYang/README.md
Labels: project

#199 BensonYang1999 project
  project/BensonYang1999/readme.md
  project/README.rst
Labels: project

#247 dpliao proposal submission & update root directory readme
  project/README.rst
  project/dpliao/README.md
Labels: project

#246 1am9trash project proposal
  project/1am9trash/README.md
  project/1am9trash/images/bool_operations.png
  project/README.rst
Labels: project

#250 Update README.rst
  project/README.rst
Labels: project

#192 upload project proposal
  project/README.md
  project/flowchart.png
Labels: project

#213 kexuan5458-proposal-submission 3
  project/README.rst
  project/kexuan5458/README.md
Labels: project

#233 royyao1997-proposal-submission1
  project/README.rst
  project/royyao1997/README.md
  project/royyao1997/strassen_new.png
Labels: project

#284 till22G-project-proposal-attempt2
  project/README.rst
  project/till22G/project_proposal.txt
Labels: project

#214 tmp54 hw3 attempt1
  hw3/tmp54/.gitignore
  hw3/tmp54/Makefile
  hw3/tmp54/_matrix.cpp
  hw3/tmp54/matrix_class_test.py
  hw3/tmp54/performance.txt
Labels: hw3

#217 1am9trash hw3
  hw3/1am9trash/Makefile
  hw3/1am9trash/_matrix.cpp
  hw3/1am9trash/_matrix.h
  hw3/1am9trash/check_performance.py
  hw3/1am9trash/performance.txt
  hw3/1am9trash/test_matrix.py
Labels: hw3

#206 soulrrrrr-hw3
  hw3/soulrrrrr/Makefile
  hw3/soulrrrrr/_matrix.cpp
  hw3/soulrrrrr/performance.txt
  hw3/soulrrrrr/test_matrix.py
Labels: hw3

#218 Jasonchen1221 hw3 attempt1
  hw3/jasonchen1221/Makefile
  hw3/jasonchen1221/_matrix.cpp
  hw3/jasonchen1221/_matrix.hpp
  hw3/jasonchen1221/test_matrix.py
Labels: hw3

#191 Twl09008181 hw3 attempt1
  hw3/Twl09008181/_matrix.cpp
  hw3/Twl09008181/makefile
  hw3/Twl09008181/test_matrix.py
Labels: hw3

#215 Zurzeit hw3 attempt1
  hw3/zurzeit/Makefile
  hw3/zurzeit/q1.cpp
  hw3/zurzeit/test_q1.py
Labels: hw3

#200 LanceWang12-hw3-attempt3
  hw3/LanceWang12/Makefile
  hw3/LanceWang12/Matrix.h
  hw3/LanceWang12/main.cpp
  hw3/LanceWang12/performance.txt
  hw3/LanceWang12/test_matrix.py
Labels: hw3

#197 charle0521-hw3-attempt3
  hw3/charles0521/Makefile
  hw3/charles0521/Matrix.h
  hw3/charles0521/_matrix.cpp
  hw3/charles0521/test_matrix.py
Labels: hw3

#202 davidzwei hw3 attempt1
  hw3/davidzwei/Makefile
  hw3/davidzwei/_matrix.cpp
  hw3/davidzwei/test_matrix.py
Labels: hw3

#231 royyao1997-hw3-attempt2
  hw3/royyao1997/_matrix.cpp
  hw3/royyao1997/makefile
  hw3/royyao1997/test_matrix.py
Labels: hw3

#189 HaHaFi turns in hw3 [first attempt]
  hw3/HaHaFi/makefile
  hw3/HaHaFi/matrix.cpp
  hw3/HaHaFi/matrix.h
  hw3/HaHaFi/multiplication.cpp
  hw3/HaHaFi/unit_test.py
Labels: hw3

#226 chiehchiYang-hw3-attempt2
  hw3/chiehchiYang/_matrix.cpp
  hw3/chiehchiYang/makefile
  hw3/chiehchiYang/test_matrix.py
Labels: hw3

#208 Derrick pikachu hw3 dev
  hw3/DerrickPikachu/Makefile
  hw3/DerrickPikachu/matrix.cpp
  hw3/DerrickPikachu/matrix.h
  hw3/DerrickPikachu/matrix_bind.cpp
  hw3/DerrickPikachu/performance.py
  hw3/DerrickPikachu/performance.txt
  hw3/DerrickPikachu/test_matrix.py
Labels: hw3

#232 dpliao hw3 attempt1
  hw3/dpliao/Makefile
  hw3/dpliao/StopWatch.hpp
  hw3/dpliao/_matrix.cpp
  hw3/dpliao/test_matrix.py
Labels: hw3

#229 lipper1110 hw3 attempt1
  hw3/lipper1110/Makefile
  hw3/lipper1110/_matrix.cpp
  hw3/lipper1110/test_matrix.py
Labels: hw3

#228 kexuan5458 hw3 attempt1
  hw3/kexuan5458/Makefile
  hw3/kexuan5458/_matrix.cpp
  hw3/kexuan5458/performance.txt
  hw3/kexuan5458/test_matrix.py
Labels: hw3

#201 wst24365888 hw3 submission
  hw3/wst24365888/Makefile
  hw3/wst24365888/_matrix.cpp
  hw3/wst24365888/test_matrix.py
Labels: hw3

#221 shih-chuan-hw3-attempt1
  hw3/shih-chuan/Makefile
  hw3/shih-chuan/_matrix.cpp
  hw3/shih-chuan/performance.txt
  hw3/shih-chuan/test_matrix.py
Labels: hw3

#219 ian-chiu hw3 attempt1
  hw3/ian-chiu/_matrix.cpp
  hw3/ian-chiu/makefile
  hw3/ian-chiu/test_matrix.py
Labels: hw3

#176 Ou ting yun hw3 attempt1
  .gitignore
  hw3/OuTingYun/Makefile
  hw3/OuTingYun/_matrix.cpp
  hw3/OuTingYun/performance.txt
  hw3/OuTingYun/test_matrix.py
Labels: hw3

#212 rroykuo hw3 attempt1
  hw3/rroykuo/Makefile
  hw3/rroykuo/_matrix.cpp
  hw3/rroykuo/matrix.h
  hw3/rroykuo/test_matrix.py
Labels: hw3

#210 Vinci881027 hw3 attempt1
  hw3/Vinci881027/Makefile
  hw3/Vinci881027/_matrix.cc
  hw3/Vinci881027/_matrix.h
  hw3/Vinci881027/benchmark.py
  hw3/Vinci881027/test_matrix.py
Labels: hw3

#171 [HW3] Add huang-me's hw3
  hw3/huang-me/Makefile
  hw3/huang-me/_matrix.cpp
  hw3/huang-me/test_case.py
Labels: hw3

#193 Iar1000 hw3 sumbission
  hw3/iar1000/Makefile
  hw3/iar1000/_matrix.cpp
  hw3/iar1000/test_matrix.py
Labels: hw3

#203 hychiu02-hw3-attempt1
  hw3/hychiu02/Makefile
  hw3/hychiu02/Matrix.h
  hw3/hychiu02/_matrix.cpp
  hw3/hychiu02/performance.txt
  hw3/hychiu02/test_matrix.py
Labels: hw3

#174 BensonYang1999 hw3
  hw3/BensonYang1999/_matrix.cpp
  hw3/BensonYang1999/arm/README.md
  hw3/BensonYang1999/arm/_matrix.cpp
  hw3/BensonYang1999/arm/arm_test_matrix.py
  hw3/BensonYang1999/arm/makefile
  hw3/BensonYang1999/arm/performance_arm.txt
  hw3/BensonYang1999/arm/statistic.cpp
  hw3/BensonYang1999/makefile
  hw3/BensonYang1999/performance.txt
  hw3/BensonYang1999/readme.md
  hw3/BensonYang1999/statistic.cpp
  hw3/BensonYang1999/test_matrix.py
Labels: hw3

#238 till22G hw3 - attempt 2
  hw3/till22G/Makefile
  hw3/till22G/matrix.cpp
  hw3/till22G/matrix_test.py
Labels: hw3

#196 Hooje hw3
  hw3/Hooje/Makefile
  hw3/Hooje/_matrix.cpp
  hw3/Hooje/performance.txt
  hw3/Hooje/test_file.py
Labels: hw3

#227 upload
  hw3/haashiagh10/Makefile
  hw3/haashiagh10/_matrix.cpp
  hw3/haashiagh10/test_matrix.py
Labels: hw3

#276 1am9trash hw4
  hw4/1am9trash/Makefile
  hw4/1am9trash/_matrix.cpp
  hw4/1am9trash/_matrix.h
  hw4/1am9trash/test_matrix.py
Labels: hw4

#261 jasonchen1221-hw4-attempt1
  hw4/jasonchen1221/Makefile
  hw4/jasonchen1221/_matrix.cpp
  hw4/jasonchen1221/_matrix.hpp
  hw4/jasonchen1221/test_matrix.py
Labels: hw4

#274 submission
  hw4/haashiagh10/Makefile
  hw4/haashiagh10/_matrix.cpp
  hw4/haashiagh10/test.py
Labels: hw4

#253 Twl09008181-hw4-attempt1
  hw4/Twl09008181/_matrix.cpp
  hw4/Twl09008181/makefile
  hw4/Twl09008181/test_matrix.py
Labels: hw4

#271 Zurzeit hw4 attempt1
  hw4/zurzeit/Makefile
  hw4/zurzeit/MyAllocator.h
  hw4/zurzeit/main.cpp
  hw4/zurzeit/matrix.h
  hw4/zurzeit/test_matrix.py
Labels: hw4

#273 LanceWang12-hw4-attempt1
  hw4/LanceWang12/Makefile
  hw4/LanceWang12/Matrix.h
  hw4/LanceWang12/main.cpp
  hw4/LanceWang12/test_matrix.py
Labels: hw4

#281 charles0521-hw4-attempt1
  hw4/charles0521/Makefile
  hw4/charles0521/Matrix.h
  hw4/charles0521/_matrix.cpp
  hw4/charles0521/test_matrix.py
Labels: hw4

#282 davidzwei hw4 attempt1
  hw4/davidzwei/Makefile
  hw4/davidzwei/_matrix.cpp
  hw4/davidzwei/allocator.hpp
  hw4/davidzwei/test_matrix.py
Labels: hw4

#269 HaHaFi turns in hw4 [first attempt]
  hw4/HaHaFi/Allocator.h
  hw4/HaHaFi/makefile
  hw4/HaHaFi/matrix.cpp
  hw4/HaHaFi/matrix.h
  hw4/HaHaFi/multiplication.cpp
  hw4/HaHaFi/unit_test.py
Labels: hw4

#268 DerrickPikachu's hw4
  hw4/DerrickPikachu/Makefile
  hw4/DerrickPikachu/main.cpp
  hw4/DerrickPikachu/matrix.cpp
  hw4/DerrickPikachu/matrix.h
  hw4/DerrickPikachu/matrix_bind.cpp
  hw4/DerrickPikachu/performance.py
  hw4/DerrickPikachu/test_matrix.py
Labels: hw4

#279 dpliao-hw4 submission attemp1
  hw4/dpliao/Allocator.hpp
  hw4/dpliao/Makefile
  hw4/dpliao/_matrix.cpp
  hw4/dpliao/test_matrix.py
Labels: hw4

#275 lipper1110-hw4-attempt1
  hw4/lipper1110/Makefile
  hw4/lipper1110/_matrix.cpp
  hw4/lipper1110/allocator.hpp
  hw4/lipper1110/test_matrix.py
Labels: hw4

#278 kexuan5458-hw4-attempt1
  hw4/kexuan5458/CustomAllocator.hpp
  hw4/kexuan5458/Makefile
  hw4/kexuan5458/_matrix.cpp
  hw4/kexuan5458/test_matrix.py
Labels: hw4

#259 ian-chiu hw4 attempt1
  hw4/ian-chiu/_matrix.cpp
  hw4/ian-chiu/makefile
Labels: hw4

#260 shih-chuan-hw4-attempt1
  hw4/shih-chuan/Makefile
  hw4/shih-chuan/_matrix.cpp
Labels: hw4

#283 rroykuo-hw4-attempt1
  hw4/rroykuo/Makefile
  hw4/rroykuo/_matrix.cpp
  hw4/rroykuo/allocator.hpp
  hw4/rroykuo/matrix.h
  hw4/rroykuo/test_matrix.py
Labels: hw4

#263 Add huang-me's hw4
  hw4/huang-me/Makefile
  hw4/huang-me/_matrix.cpp
  hw4/huang-me/customAllocator.h
Labels: hw4

#257 hychiu02-hw4-attempt1
  hw4/hychiu02/CustomAllocator.hpp
  hw4/hychiu02/Makefile
  hw4/hychiu02/Matrix.hpp
  hw4/hychiu02/_matrix.cpp
  hw4/hychiu02/test_matrix.py
Labels: hw4

#256 Hooje - first
  hw4/Hooje/Makefile
  hw4/Hooje/_matrix.cpp
  hw4/Hooje/performance.txt
  hw4/Hooje/test_file.py
Labels: hw4

#265 Soulrrrrr hw4
  hw4/soulrrrrr/Makefile
  hw4/soulrrrrr/_matrix.cpp
  hw4/soulrrrrr/alloc.hpp
  hw4/soulrrrrr/test_matrix.py
Labels: hw4
