Repository yungyuc/nsdhw_22au, pull requests merged in 2022-10, with the labels that each got.

#115 shih-chuan-proposal-submission (unrelated changeset removed)
  project/README.rst
  project/shih-chuan/README.md
  project/shih-chuan/assets/among-us.jpeg
  project/shih-chuan/assets/monaco.jpg
  project/shih-chuan/assets/system_arch.jpg
Labels: project

#102 soulrrrrr-hw1
  hw1/soulrrrrr/countline.py
  hw1/soulrrrrr/countline.sh
Labels: hw1

#58 1am9trash hw1
  hw1/1am9trash/countline.py
  hw1/1am9trash/countline.sh
Labels: hw1

#9 tmp54 hw1 attempt1
  hw1/tmp54/countline.py
  hw1/tmp54/countline.sh
Labels: hw1

#51 jasonchen1221 hw1
  hw1/jasonchen1221/countline.py
  hw1/jasonchen1221/countline.sh
Labels: hw1

#83 hw1
  hw1/haashiagh10/countline.py
  hw1/haashiagh10/countline.sh
Labels: hw1

#87 liuallen871219-hw1-attempt
  hw1/liuallen871219/countline.py
  hw1/liuallen871219/countline.sh
Labels: hw1

#108 upload-hw1
  hw1/zurzeit/countline.py
  hw1/zurzeit/countline.sh
Labels: hw1

#73 update initialize hw1
  hw1/LanceWang12/.gitignore
  hw1/LanceWang12/countline.py
  hw1/LanceWang12/countline.sh
Labels: hw1

#67 charles0521 hw1 attempt1
  hw1/charles0521/countline.py
  hw1/charles0521/countline.sh
Labels: hw1

#35 davidzwei hw1 attempt1
  hw1/davidzwei/countline.py
  hw1/davidzwei/countline.sh
Labels: hw1

#21 HaHaFi turns in hw1 [first attempt]
  hw1/HaHaFi/countline.py
  hw1/HaHaFi/countline.sh
Labels: hw1

#69 chiehchiYang hw1 attempt1
  hw1/chiehchiYang/countline.py
  hw1/chiehchiYang/countline.sh
Labels: hw1

#103 Derrick pikachu hw1 dev
  hw1/DerrickPikachu/countline.py
  hw1/DerrickPikachu/countline.sh
Labels: hw1

#49 lipper1110 hw1 attempt1
  hw1/lipper1110/countline.py
  hw1/lipper1110/countline.sh
Labels: hw1

#68 kexuan5458 hw1 attempt1
  hw1/kexuan5458/countline.py
  hw1/kexuan5458/countline.sh
Labels: hw1

#11 ian-chiu hw1 attempt1
  hw1/ian-chiu/countline.py
  hw1/ian-chiu/countline.sh
Labels: hw1

#24 wst24365888 hw1 attempt1
  hw1/wst24365888/countline.py
  hw1/wst24365888/countline.sh
Labels: hw1

#10 shih-chuan hw1 attempt1
  hw1/shih-chuan/countline.py
  hw1/shih-chuan/countline.sh
Labels: hw1

#106 rroykuo-hw1-attempt3
  hw1/rroykuo/countline.py
  hw1/rroykuo/countline.sh
Labels: hw1

#44 hychiu02-hw1-attempt1
  hw1/hychiu02/countline.py
  hw1/hychiu02/countline.sh
Labels: hw1

#92 Niangao19 hw1 attempt2
  hw1/niangao19/countline.py
  hw1/niangao19/countline.sh
Labels: hw1

#34 BensonYang1999 hw1 attempt1
  hw1/BensonYang1999/countline.py
  hw1/BensonYang1999/countline.sh
Labels: hw1

#66 Thenaivekai hw1 attempt1
  hw1/thenaivekai/countline.py
  hw1/thenaivekai/countline.sh
Labels: hw1

#25 Hooje hw1
  hw1/Hooje/countline.py
  hw1/Hooje/countline.sh
Labels: hw1

#109 iar1000 proposal submission
  project/README.rst
  project/iar1000/README.md
Labels: project

#118 DerrickPikachu-proposal-submission
  project/DerrickPikachu/README.rst
  project/DerrickPikachu/img/AStar_1.png
  project/DerrickPikachu/img/AStar_2.png
  project/DerrickPikachu/img/AStar_3.png
  project/DerrickPikachu/img/DS_1.png
  project/DerrickPikachu/img/DS_2.png
  project/DerrickPikachu/img/work_flow.png
  project/README.rst
Labels: project

#163 ian-chiu-proposal-submission
  project/README.rst
  project/ian-chiu/README.md
Labels: project

#168 LanceWang12-project-attempt1
  project/LanceWang12/.gitignore
  project/LanceWang12/readme.md
  project/README.rst
Labels: project

#166 HaHaFi proposal submission
  project/HaHaFi/README.md
  project/README.rst
Labels: project

#124 Hooje hw2 attemp1
  hw2/Hooje/q1/Makefile
  hw2/Hooje/q1/line.cpp
  hw2/Hooje/q1/line.hpp
  hw2/Hooje/q1/main.cpp
  hw2/Hooje/q2/Makefile
  hw2/Hooje/q2/_vector.cpp
  hw2/Hooje/q2/test_file.py
Labels: hw2

#133 Vinci881027 hw2 attempt1
  hw2/Vinci881027/q1/Makefile
  hw2/Vinci881027/q1/line.cpp
  hw2/Vinci881027/q2/Makefile
  hw2/Vinci881027/q2/_vector.cpp
  hw2/Vinci881027/q2/pytest.py
Labels: hw2

#113 Hychiu02 hw2 attempt1
  hw2/hychiu02/q1/Line.cpp
  hw2/hychiu02/q1/Line.hpp
  hw2/hychiu02/q1/Makefile
  hw2/hychiu02/q1/main.cpp
  hw2/hychiu02/q2/Makefile
  hw2/hychiu02/q2/_vector.cpp
  hw2/hychiu02/q2/test_angle.py
Labels: hw2

#128 wst24365888 hw2 attempt1
  hw2/wst24365888/q1/Makefile
  hw2/wst24365888/q1/line.cpp
  hw2/wst24365888/q1/line.hpp
  hw2/wst24365888/q1/main.cpp
  hw2/wst24365888/q2/Makefile
  hw2/wst24365888/q2/_vector.cpp
  hw2/wst24365888/q2/_vector.hpp
  hw2/wst24365888/q2/test_vector.py
  hw2/wst24365888/q2/wrapper.cpp
Labels: hw2

#125 ian-chiu hw2 attempt1
  hw2/ian-chiu/q1/Line.cpp
  hw2/ian-chiu/q1/Line.hpp
  hw2/ian-chiu/q1/main.cpp
  hw2/ian-chiu/q1/makefile
  hw2/ian-chiu/q2/_vector.cpp
  hw2/ian-chiu/q2/makefile
  hw2/ian-chiu/q2/test_vector.py
Labels: hw2

#138 rroykuo-hw2-attempt1
  hw2/rroykuo/q1/main.cpp
  hw2/rroykuo/q1/makefile
  hw2/rroykuo/q2/_vector.cpp
  hw2/rroykuo/q2/makefile
  hw2/rroykuo/q2/test_.py
Labels: hw2

#126 shih-chuan-hw2-attempt1
  hw2/shih-chuan/q1/main.cpp
  hw2/shih-chuan/q1/makefile
  hw2/shih-chuan/q2/_vector.cpp
  hw2/shih-chuan/q2/makefile
  hw2/shih-chuan/q2/test_angle.py
Labels: hw2

#148 ChiehchiYang hw2 attempt1
  hw2/chiehchiYang/q1/Line.cpp
  hw2/chiehchiYang/q1/Line.hpp
  hw2/chiehchiYang/q1/main.cpp
  hw2/chiehchiYang/q1/makefile
  hw2/chiehchiYang/q2/_vector.cpp
  hw2/chiehchiYang/q2/makefile
  hw2/chiehchiYang/q2/test_vector.py
Labels: hw2

#132 Derrick pikachu hw2 submission
  hw2/DerrickPikachu/q1/Makefile
  hw2/DerrickPikachu/q1/line.cpp
  hw2/DerrickPikachu/q1/line.h
  hw2/DerrickPikachu/q1/q1.cpp
  hw2/DerrickPikachu/q2/Makefile
  hw2/DerrickPikachu/q2/angle.cpp
  hw2/DerrickPikachu/q2/angle.h
  hw2/DerrickPikachu/q2/pybind_angle.cpp
  hw2/DerrickPikachu/q2/test.cpp
  hw2/DerrickPikachu/q2/test_angle.py
Labels: hw2

#156 dpliao hw2 attempt1
  hw2/dpliao/q1/Makefile
  hw2/dpliao/q1/line.cpp
  hw2/dpliao/q2/Makefile
  hw2/dpliao/q2/_vector.cpp
  hw2/dpliao/q2/test_vector_angle.py
Labels: hw2

#142 twl09008181-hw2-attempt2(remove hw1 commit history)
  hw2/Twl09008181/q1/Makefile
  hw2/Twl09008181/q1/line.cpp
  hw2/Twl09008181/q2/Makefile
  hw2/Twl09008181/q2/_vector.cpp
  hw2/Twl09008181/q2/test_vector.py
Labels: hw2

#129 jasonchen1221-hw2-attempt1
  hw2/jasonchen1221/q1/Makefile
  hw2/jasonchen1221/q1/line.cpp
  hw2/jasonchen1221/q1/line.hpp
  hw2/jasonchen1221/q1/main.cpp
  hw2/jasonchen1221/q2/Makefile
  hw2/jasonchen1221/q2/_vector.cpp
  hw2/jasonchen1221/q2/test_vector.py
Labels: hw2

#131 soulrrrrr hw2
  hw2/soulrrrrr/q1/Makefile
  hw2/soulrrrrr/q1/line.cpp
  hw2/soulrrrrr/q1/line.hpp
  hw2/soulrrrrr/q1/main.cpp
  hw2/soulrrrrr/q2/Makefile
  hw2/soulrrrrr/q2/_vector.cpp
  hw2/soulrrrrr/q2/test_vector.py
Labels: hw2

#145 1am9trash hw2
  hw2/1am9trash/q1/Makefile
  hw2/1am9trash/q1/line.cpp
  hw2/1am9trash/q2/Makefile
  hw2/1am9trash/q2/_vector.cpp
  hw2/1am9trash/q2/test_vector.py
Labels: hw2

#157 Zurzeit hw2 attempt4
  hw2/zurzeit/q1/Makefile
  hw2/zurzeit/q1/q1_code.cpp
  hw2/zurzeit/q2/Makefile
  hw2/zurzeit/q2/q2.cpp
  hw2/zurzeit/q2/test_q2.py
Labels: hw2

#150 hw2 init
  hw2/LanceWang12/.gitignore
  hw2/LanceWang12/q1/Line.cpp
  hw2/LanceWang12/q1/Line.h
  hw2/LanceWang12/q1/main
  hw2/LanceWang12/q1/main.cpp
  hw2/LanceWang12/q1/makefile
  hw2/LanceWang12/q1/obj/Line.o
  hw2/LanceWang12/q1/obj/main.o
  hw2/LanceWang12/q2/_vector.cpp
  hw2/LanceWang12/q2/makefile
  hw2/LanceWang12/q2/test_vector.py
Labels: hw2

#127 charles0521-hw2-attempt1
  hw2/charles0521/q1/Line.cpp
  hw2/charles0521/q1/Line.h
  hw2/charles0521/q1/Makefile
  hw2/charles0521/q1/main.cpp
  hw2/charles0521/q2/Makefile
  hw2/charles0521/q2/_vector.cpp
  hw2/charles0521/q2/test_vector.py
Labels: hw2

#144 davidzwei hw2 attempt2
  hw2/davidzwei/q1/Makefile
  hw2/davidzwei/q1/line.cpp
  hw2/davidzwei/q1/line.h
  hw2/davidzwei/q1/main.cpp
  hw2/davidzwei/q2/Makefile
  hw2/davidzwei/q2/_vector.cpp
  hw2/davidzwei/q2/test_vector.py
Labels: hw2

#151 Royyao1997 hw2 attempt4
  hw2/royyao1997/q1/line.cpp
  hw2/royyao1997/q1/makefile
  hw2/royyao1997/q2/main.cpp
  hw2/royyao1997/q2/makefile
  hw2/royyao1997/q2/vector_test.py
Labels: hw2

#121 HaHaFi turns in hw2 [first attempt]
  hw2/HaHaFi/q1/line.cpp
  hw2/HaHaFi/q1/line.h
  hw2/HaHaFi/q1/main.cpp
  hw2/HaHaFi/q1/makefile
  hw2/HaHaFi/q2/angle.cpp
  hw2/HaHaFi/q2/makefile
  hw2/HaHaFi/q2/unit_test.py
Labels: hw2

#123 lipper1110 hw2 attempt1
  hw2/lipper1110/q1/Makefile
  hw2/lipper1110/q1/line.hpp
  hw2/lipper1110/q1/main.cpp
  hw2/lipper1110/q2/Makefile
  hw2/lipper1110/q2/_vector.cpp
  hw2/lipper1110/q2/test_angle.py
Labels: hw2

#135 kexuan5458 hw2 attempt1
  hw2/kexuan5458/q1/Makefile
  hw2/kexuan5458/q1/line.cpp
  hw2/kexuan5458/q1/line.hpp
  hw2/kexuan5458/q1/main.cpp
  hw2/kexuan5458/q2/Makefile
  hw2/kexuan5458/q2/_vector.cpp
  hw2/kexuan5458/q2/test_vec.py
Labels: hw2

#117 BensonYang hw2 attempt1
  hw2/BensonYang1999/q1/Line.cpp
  hw2/BensonYang1999/q1/Line.hpp
  hw2/BensonYang1999/q1/main.cpp
  hw2/BensonYang1999/q1/makefile
  hw2/BensonYang1999/q2/_vector.cpp
  hw2/BensonYang1999/q2/makefile
  hw2/BensonYang1999/q2/test_angle.py
Labels: hw2

#111 Iar1000 hw2 submission
  hw2/iar1000/q1/Line.cpp
  hw2/iar1000/q1/Line.h
  hw2/iar1000/q1/Makefile
  hw2/iar1000/q1/main.cpp
  hw2/iar1000/q2/Makefile
  hw2/iar1000/q2/_vector.cpp
  hw2/iar1000/q2/test_calc_angle.py
Labels: hw2

#76 solution of homework 1
  hw1/iar1000/countline.py
  hw1/iar1000/countline.sh
Labels: hw1

#112 Add huang-me's hw2
  hw2/huang-me/q1/Makefile
  hw2/huang-me/q1/line.cpp
  hw2/huang-me/q1/line.hpp
  hw2/huang-me/q1/main.cpp
  hw2/huang-me/q2/Makefile
  hw2/huang-me/q2/_vector.cpp
  hw2/huang-me/q2/pytest.py
Labels: hw2

#175 Twl09008181 proposal submission
  project/README.rst
  project/Twl09008181/README.md
Labels: project

#173 lipper1110 proposal submission
  project/README.rst
  project/lipper1110/README.md
Labels: project

#152 Homework 2 Attempt 1
  hw2/till22G/q1/Line
  hw2/till22G/q1/Line.cpp
  hw2/till22G/q1/Line.o
  hw2/till22G/q1/Makefile
  hw2/till22G/q2/Makefile
  hw2/till22G/q2/__pycache__/calculate_angle_cpp_test.cpython-39-pytest-7.1.3.pyc
  hw2/till22G/q2/calculate_angle.cpp
  hw2/till22G/q2/calculate_angle.h
  hw2/till22G/q2/calculate_angle_cpp_test.py
Labels: hw2

#169 huang-me's project proposal
  project/README.rst
  project/huang-me/README.md
Labels: project

#170 charles0521 project proposal
  project/README.rst
  project/charles0521/README.md
Labels: project

#190 davidzwei proposal submission
  project/README.rst
  project/davidzwei/README.md
Labels: project

#164 Vinci881027 proposal attempt1
  project/README.rst
  project/Vinci881027/README.md
Labels: project

#167 soulrrrrr project proposal
  project/README.rst
  project/soulrrrrr/README.rst
Labels: project

#120 hychiu02-proposal-submission
  project/README.rst
  project/hychiu02/Flow.png
  project/hychiu02/README.md
Labels: project

#195 rroykuo proposal submission 2
  project/README.rst
  project/rroykuo/README.md
Labels: project

#110 jasonchen1221-proposal-submission
  project/README.rst
  project/jasonchen1221/README.md
Labels: project

#207 HaHaFi proposal submission modify-1
  project/HaHaFi/README.md
Labels: project
